# ProCeT — Neural CBF certified Training
# Python >= 3.9, CUDA 12.1 recommended 
torch==2.4.1
numpy==2.1.2
scipy==1.15.3
cvxpy==1.7.5
clarabel==0.11.1
osqp==1.1.1
scs==3.2.11
bound_propagation==0.4.6
onnx==1.20.1
onnxruntime==1.23.2
tqdm==4.67.1
matplotlib==3.10.7
